/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize the progress bar */
.bar-of-progress {
  background-color: #2563eb; /* Tailwind's blue-600 */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-gray-900 text-white;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
